
.promotional-top {
    & {
        display: block;
        height: 80px;
        width: 100vw;
        background-color: rgb(225, 29, 18);
    }

    .jd_container {
        height: 100%;
        position: relative;
    }
}
.jd_container {
    & {
        margin: 0 auto;
        width: 1190px;
        background-image: url(../img/promotional-top/top-ad-bd.webp);
    }
    .icon-close_button {
        & {
            position: absolute;
            top: 5px;
            right: 0;
            color: #fff;
            background-color: #2d2d2d;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            opacity: .3;
            font-size: 14px;
            font-weight: 700;
        }
    }

}

#shortcut {
    & {
        background-color: #e3e4e5;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
    }
    .w {
        & {
            height: 30px;
            line-height: 30px;
            width: 1190px;
            margin: 0 auto;
        }

        .span {
            color: #666;
        }
        a:hover {
            color: red;
        }
    }

    .fl {
        float: left;
    }
    
    .fr {
        float: right;
    }
}
